{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Next Steps</h1>
                <h2 class="govuk-heading-m">Your application has been submitted for processing</h2>
                <p class="govuk-body">
                    We will now send you a Welcome Pack (via post), you should receive it within the next week</p>

                <p class="govuk-body">We will then contact the Paying Parent confirming how much should be paid and then
                    send you both the details</p>

                <p class="govuk-body">This should be within two or three weeks, but it
                    could take longer if we can’t contact the Paying Parent</p>


                <p class="govuk-body">*Note: SCIN Number will be sent to the customer when application is processed -
                    Therefore will be delay</p>

                <p class="govuk-body">Your customer reference number (SCIN) will be sent to you by email once your
                    application has been processed. This will be sent to you via message If opted IN for SMS.</p>

                <p class="govuk-body">Keep it safe and secure, save it as a contact on your phone so its always handy as
                    you’ll always need it whenever you contact us</p>

                <p class="govuk-body">*Verification from CIS will happen at this stage and the verified details will not
                    be shared with the customer on the portal.</p>
                </p>
                <p class="govuk-body">
                    <button type="submit" class="govuk-button">
                        continue
                    </button>
            </div>
        </div>
    </main>
</div>

{% endblock %}