{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>


                <!--start of dl-->
                <h2 class="govuk-heading-m">About Applicant</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Both parents live in the UK
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Yes
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Sarah Philips
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                            5 January 1978
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> date of birth</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            National Insurance number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            23 45 27 JP
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>


                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            72 Guild Street
                            <br>London
                            <br>SE23 6FH
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> contact information</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Contact details
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">07700 900457</p>
                            <p class="govuk-body">sarah.phillips@example.com</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> contact details</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Preferred contact time
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Afternoon</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> contact details</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            SMS Opt-in
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">YES</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> contact details</span>
                            </a>
                        </dd>
                    </div>
                </dl>
                <!--end of dl-->
                <h2 class="govuk-heading-m">Existing Case</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Existing child maintenance case
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>

                </dl>

                <h2 class="govuk-heading-m">About Child / Children</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            How many children applying for child maintenance
                        </dt>
                        <dd class="govuk-summary-list__value">
                            1
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            John Phillips
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> name</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date of birth
                        </dt>
                        <dd class="govuk-summary-list__value">
                            12 November 2007
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> date of birth</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Over 16
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> date of birth</span>
                            </a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Court orders
                        </dt>
                        <dd class="govuk-summary-list__value">
                            No
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" href="#">
                                Change
                                <span class="govuk-visually-hidden"> date of birth</span>
                            </a>
                        </dd>
                    </div>


                </dl>


                <h2 class="govuk-heading-m">About Other Parent</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                        <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Title
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Mr
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        Change
                                        <span class="govuk-visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>
        
        
        
        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Name
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Gavin Philips
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        Change
                                        <span class="govuk-visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>
        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Date of birth
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    13 October 1976
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        Change
                                        <span class="govuk-visually-hidden"> date of birth</span>
                                    </a>
                                </dd>
                            </div>
        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    National Insurance number
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    34 56 25 JP
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        Change
                                        <span class="govuk-visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>
        
        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Address
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    23 John Street
                                    <br>London
                                    <br>SE23 3AH
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        Change
                                        <span class="govuk-visually-hidden"> contact information</span>
                                    </a>
                                </dd>
                            </div>
        
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Contact details
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">07722 500432</p>
                                    <p class="govuk-body">gavin.phillips@example.com</p>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        Change
                                        <span class="govuk-visually-hidden"> contact details</span>
                                    </a>
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        Other parent on birth certificate
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        Yes
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="#">
                                            Change
                                            <span class="govuk-visually-hidden"> contact details</span>
                                        </a>
                                    </dd>
                                </div>

                                <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Shared care
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            Never
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <a class="govuk-link" href="#">
                                                Change
                                                <span class="govuk-visually-hidden"> contact details</span>
                                            </a>
                                        </dd>
                                    </div>

                </dl>

                <h2 class="govuk-heading-m">Payment Service</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                        <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    Service choice
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    Direct Pay
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <a class="govuk-link" href="#">
                                        Change
                                        <span class="govuk-visually-hidden"> name</span>
                                    </a>
                                </dd>
                            </div>

                        </dl>

                        <h2 class="govuk-heading-m">Personal Security Details</h2>
                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        
                                <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Seven digit pin
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            1234567
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <a class="govuk-link" href="#">
                                                Change
                                                <span class="govuk-visually-hidden"> name</span>
                                            </a>
                                        </dd>
                                    </div>

                                    <div class="govuk-summary-list__row">
                                            <dt class="govuk-summary-list__key">
                                                Password
                                            </dt>
                                            <dd class="govuk-summary-list__value">
                                                password
                                            </dd>
                                            <dd class="govuk-summary-list__actions">
                                                <a class="govuk-link" href="#">
                                                    Change
                                                    <span class="govuk-visually-hidden"> name</span>
                                                </a>
                                            </dd>
                                        </div>
        
                                </dl>

                                <h2 class="govuk-heading-m">Domestic Abuse</h2>
                        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        
                                <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            Reported domestic abuse
                                        </dt>
                                        <dd class="govuk-summary-list__value">
                                            No
                                        </dd>
                                        <dd class="govuk-summary-list__actions">
                                            <a class="govuk-link" href="#">
                                                Change
                                                <span class="govuk-visually-hidden"> name</span>
                                            </a>
                                        </dd>
                                    </div>       
                                </dl>





                <h2 class="govuk-heading-m">Now send your application</h2>

                <p class="govuk-body">By submitting this notification you are confirming that, to the best of your
                    knowledge, the details you are providing are correct.</p>

                <form action="/form-handler" method="post" novalidate>

                    <input type="hidden" name="answers-checked" value="true">

                    <button type="submit" class="govuk-button">
                        Accept and continue
                    </button>

                </form>

            </div>
        </div>
    </main>
</div>

{% endblock %}