{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Registering to the Self Service portal</h1>
                <h2 class="govuk-heading-m">The next step is registering online. </h2>

                <p class="govuk-body">When you receive your Email / SMS  with your customer reference number (SCIN), the message will contain a  link to our self-service Website where you can manage your case via PC, tablet or mobile. Once registered its easy and simple to use, you can track your application, update your circumstances, view payments, read letters and send us messages all available 24/7 without the need to call us</p>

                <p class="govuk-body">You’ll need your 12 digit customer reference number (SCIN) to register and the self service link.</p>


                <p class="govuk-body">The other way to find our self- service site is to just search for ‘Child Maintenance Online’</p>

            
                    <button type="submit" class="govuk-button">
                        continue
                    </button>
            </div>
        </div>
    </main>
</div>

{% endblock %}