{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
  
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Submit Application</h1>
                <p class="govuk-body">You have provided all of the required information and now you may submit your application for processing...</p>
  
            <button type="submit" class="govuk-button">
              Submit Application
            </button>
        </div>

      </div>
    </main>
  </div>
  {% endblock %}